/* Desenvolva sua estilização aqui ... */
header {
    display: flex;
    justify-content: space-between;
    margin: 3rem 18em;
}

main{
    margin: auto 18rem;
}

li {
    list-style: none;
    display: inline;
}

.button__categories {
    border: none;
    border-radius: 0.5rem;
    padding: 8px 10px;
    margin: 20px 40px 10px 0px;
}

.button__categories:hover{
    background-color: var(--color-grey-6);
    color: var(--color-grey-0);
}

.button--Active{
    background-color: var(--color-grey-1);
    color: var(--color-grey-8);
}


.price-select{
    margin: 30px 0px 60px 0px;
}

.price-select__top{
    display: flex;
    justify-content: space-between;
}

input::-moz-range-progress{
    background-color: var(--color-brand-1);
}

.price-select__title{
}

.price-select__value-display{
}

.price-select__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-select__range{
    width: 100%;
}

range{
    background-color: var(--color-brand-1);
}

.product-section__render{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.card{
    width: 360px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--color-grey-6);
}

.card--img{
    border-radius: 6px 6px 0px 0px;
    width: 360px;

}

.card__title{
}

.card__band{
    margin-left: 30;
    
}

.purchace__div{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.card__botton{
    height: 120px;
    padding: 8px;
    margin-bottom: 10px;
    
}

.card__band{
    margin: 10px 0 20px 0 ;
    
}

.purchace__price{
    display: flex;
    align-items: center;
    
}

.button__purchase{
    background-color: var(--color-grey-6);
    color: var(--color-grey-1);
    border: none;
    border-radius: 0.5rem;
    padding: 8px 8px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.button__purchase:hover{
    background-color: var(--color-grey-1);
    color: var(--color-grey-8);
}
/* ------------------------------------------------------------------------- */
/* Estilos para o tema escuro */

#theme{
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-color: var(--color-grey-7);
    border: none !important;
}

.dark-theme #theme{
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-color: var(--color-grey-1);
    border: none !important;
}

body.dark-theme {
    background-color: var(--color-grey-0);
    color:var(--color-grey-8);
}

.dark-theme header {
}

.dark-theme .button__categories {
    background-color: var(--color-grey-1);
    color: var(--color-grey-3);
}

.dark-theme .button__categories:hover,
.dark-theme .button--Active {
    background-color: var(--color-grey-0);
}

.dark-theme .price-select__range {
    background-color: var(--color-grey-1);
}

.dark-theme .card {
    background-color: var(--color-grey-1);
    color: var(--color-grey-8);
}

.dark-theme .button__purchase {
    background-color: var(--color-grey-2);
    color: var(--color-grey-8);
}

.dark-theme .button__purchase:hover {
    background-color: var(--color-grey-0);
}